* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.title-selection {
  min-height: 53.3vw;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

.title-selection__header {
  min-height: 121px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.title-selection__header-content {
  margin-left: 3.2vw;
  min-height: 17px;
  width: 239px;
  font-size: 1.6rem; }

.title-selection__bar {
  min-height: 4vw;
  width: auto;
  background: rgba(145, 143, 154, 0.62);
  z-index: 2; }

.title-selection__bar-sevices {
  margin-left: 3.2vw;
  min-height: 4vw;
  width: 38.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

.bar-buttons {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 4vw;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

a {
  text-decoration: inherit;
  outline: inherit;
  color: white;
  font-size: 1.6rem;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.bar-buttons:hover {
  color: white;
  background: rgba(145, 143, 154, 0.8); }

.title-selection__bar [type="checkbox"] {
  display: none; }

.title-selection__bar label.toggle-menu {
  display: block;
  cursor: pointer;
  margin-top: 1.1vw;
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  display: none; }

.title-selection__image {
  min-height: 782px;
  width: auto;
  position: relative;
  top: -4vw;
  z-index: 1;
  background-image: url("https://store-images.s-microsoft.com/image/apps.608.13967555278436988.2000000000016084146.a81ddaea-8a37-4b45-9261-c14549861c4d?mode=scale&q=90&h=1080&w=1920&background=%23FFFFFF");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-line-pack: default;
  align-content: default; }

.title-selection__image-welcome {
  position: relative;
  top: -20px;
  min-height: 6.4vw;
  min-width: 26.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.title-selection__image-welcome_first {
  padding-right: 5px;
  min-width: 26vw;
  min-height: 2.6vw;
  color: #fcf9f7;
  font-size: 3.1vw;
  line-height: 30px;
  text-transform: uppercase;
  font-family: Athelas;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-shadow: #000000 0 0 5px; }

.title-selection__image-welcome_second {
  min-width: 26.8vw;
  min-height: 1.6vw;
  color: #ffffff;
  font-size: 2.5vw;
  line-height: 30px;
  text-transform: uppercase;
  font-family: Athelas;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-shadow: #000000 0 0 5px; }

.team-leaders {
  min-height: 53.3vw;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.team-leaders__content {
  min-height: 41.6vw;
  width: 80.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.team-leaders__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.team-leaders__content-title {
  width: 33.1vw;
  min-height: 2.1vw;
  text-align: center;
  color: #a95e39;
  font-size: 2.5vw;
  line-height: 30px;
  text-transform: uppercase;
  font-family: Athelas;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-shadow: white 0 0 0; }

.team-leaders__content-element {
  margin-top: 3px;
  width: 23.1vw;
  min-height: 4px;
  background-color: #88543a; }

.team-leaders__content-container_two {
  min-height: 10.4vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.team-leaders__content-text {
  min-height: 9vw;
  width: 700px;
  color: #000000;
  font-family: Helvetica;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 25.46px;
  letter-spacing: 0.9px; }

.team-leaders__info-container {
  min-height: 27.4vw;
  width: 78.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

.leaders-info {
  min-height: 27.4vw;
  width: 15.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

.content-photo {
  min-height: 20.8vw;
  width: 15.6vw;
  background: url("../images/photo.jpg");
  background-size: cover;
  background-position: center; }

.content-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default;
  min-height: 1.5vw;
  width: 15.6vw;
  color: #000000;
  font-family: Helvetica;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 25.46px;
  letter-spacing: 0.9px; }

.content-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default;
  text-align: center;
  min-height: 4.1vw;
  width: 15.6vw;
  color: #000000;
  font-family: Helvetica;
  font-size: 1vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 0.9px; }

.advatages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default;
  width: auto;
  min-height: 400px;
  background: #0b2a33; }

.advatages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default;
  width: 80.3vw;
  min-height: 250px; }

.advantages-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default;
  height: 100%;
  width: 200px; }

.content-number {
  min-height: 150px;
  width: 100%;
  color: #995437;
  font-family: Helvetica;
  font-size: 5vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default;
  font-weight: 700;
  font-family: Vani; }

.content-text {
  min-height: 100px;
  width: 100%;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 1.7vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 1px;
  text-align: center; }

.background-stub {
  min-height: 1000px;
  width: auto;
  background: url("../images/minecraftFields.jpg");
  background-size: cover;
  background-position: center; }

.contact-us {
  min-height: 60vw;
  width: auto;
  background: #0b2a33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.contact-us__container {
  width: 80.3vw;
  min-height: 41.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.contact-us__container-header {
  width: 40vw;
  min-height: 3.6vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.contact-us__container-title {
  width: 100%;
  min-height: 1.8vw;
  text-align: center;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 3.5vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 1.2px; }

.contact-us__container-text {
  width: 100%;
  min-height: 1.8vw;
  text-align: center;
  color: #c0c0c0;
  font-family: Helvetica;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 0.5px; }

.contact-us__container-main {
  width: 100%;
  min-height: 38vw;
  border: 1px solid #0b2a33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.contact-us__lines {
  width: 100%;
  height: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

input[name="name"], [name="phone"], select {
  border: 1px solid #0b2a33;
  border-bottom: 1px solid #c0c0c0;
  background: #0b2a33;
  color: #c0c0c0;
  font-size: 1.6rem;
  width: 38vw;
  height: 100%; }

select {
  color: #818181;
  border-bottom: 1px solid #cdc8c8; }

.contact-us__container-main_three {
  width: 100%;
  min-height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

input[name="email"], textarea {
  border: 1px solid #0b2a33;
  border-bottom: 1px solid #c0c0c0;
  background: #0b2a33;
  color: #c0c0c0;
  font-size: 1.6rem;
  width: 100%;
  height: 5vw; }

textarea[name="message"] {
  height: 8vw; }

.contact-us__container-main_four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

input[name="contactUs"] {
  width: 10vw;
  background: #89553b;
  border: 2px solid #623621; }

.about {
  min-height: 60vw;
  width: auto;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.about-us {
  width: 90vw;
  min-height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

.about-us__sections {
  width: 44vw;
  height: auto; }

.about-us__img {
  background: url("../images/steve.jpg");
  background-size: cover;
  background-position: center; }

.about-us__template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.about-us__template-conteiner {
  min-height: 28vw;
  width: 42vw;
  border: 2px solid #bfbfbf;
  background: #f9f9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.about-us__template-conteiner_title {
  min-height: 3vw;
  width: 20vw;
  text-align: center;
  color: #000000;
  font-family: Helvetica;
  font-size: 3vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 2.4px; }

.about-us__template-conteiner_text {
  min-height: 3.8vw;
  width: 25vw;
  text-align: center;
  color: #3d3d3d;
  font-family: Helvetica;
  font-size: 1vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 0.5px; }

.about-us__template-conteiner__pluses-container {
  width: 100%;
  min-height: 18vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

.about-us__pluses {
  width: 12vw;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.pluses-img {
  width: 10vw;
  min-height: 10vw;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  background: url("../images/stevePluses.jpg");
  background-position: center;
  background-size: cover; }

.pluses-element {
  width: 2px;
  min-height: 3vw;
  background-color: #88543a; }

.pluses-text {
  width: 100%;
  min-height: 2vw;
  border: 2px solid black;
  color: #000000;
  font-family: Helvetica;
  font-size: 1vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.gallery {
  width: auto;
  min-height: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.gallery-container__header {
  width: 60vw;
  height: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default;
  margin-bottom: 50px; }

.gallery-conteiner__header-title {
  width: 100%;
  min-height: 2.1vw;
  text-align: center;
  color: #a95e39;
  font-family: Helvetica;
  font-size: 4vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 1.8px; }

.gallery-conteiner__header-text {
  margin-top: 20px;
  min-height: 9vw;
  width: auto;
  color: #000000;
  font-family: Helvetica;
  font-size: 1.8vw;
  font-weight: 400;
  line-height: default;
  letter-spacing: 1.8px;
  text-align: center;
  font-weight: 700; }

.gallery-container__main {
  width: 95vw;
  min-height: 45vw; }

.gallery-container__main-slider {
  min-width: 100%;
  min-height: 45vw; }

.single .sl {
  margin: 0 auto;
  outline: 0;
  max-width: auto;
  min-height: 500px;
  background-size: cover; }

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.slide-arrow {
  position: absolute;
  top: 50%; }

.prev-arrow {
  left: -25px;
  border-right: 15px solid #113463;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; }

.next-arrow {
  right: -25px;
  border-left: 15px solid #113463;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; }

.footer-container__top {
  min-height: 250px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default;
  background: #0b2a33; }

.footer-top {
  min-height: 250px;
  width: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default; }

.footer-title {
  width: 100%;
  min-height: 95px;
  color: #d2d3d7;
  font-family: "Myriad Pro";
  font-size: 1.25vw;
  font-weight: 400;
  line-height: default;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.footer-filling a {
  width: 100%;
  height: 100%;
  color: #d2d3d7;
  font-family: "Myriad Pro";
  font-size: 0.83vw;
  font-weight: 400;
  line-height: 1.8vw;
  text-transform: default;
  letter-spacing: 0.6px;
  text-align: center; }

.footer-top__contact {
  color: #d2d3d7;
  font-family: "Myriad Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.04vw;
  text-transform: default;
  letter-spacing: 0.6px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-top__contact-phones {
  width: 100%;
  height: auto;
  margin-left: 0.26vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default;
  margin-top: 1.56vw;
  text-align: left; }

.footer-top__contact-phones-numbers {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default;
  margin-left: 0.78vw;
  font-size: 0.83vw; }

.footer-top__contact-adress {
  width: auto;
  height: auto;
  margin-left: 0.26vw;
  margin-top: 0.52vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: default;
  -ms-flex-pack: default;
  justify-content: default;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.footer-top__contact-adress_text {
  margin-left: 0.78vw;
  font-size: 0.83vw;
  text-align: left; }

.footer-container__bottom {
  width: auto;
  min-height: 91px;
  background: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: default;
  flex-direction: default;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: default;
  align-content: default; }

.footer-container__bottom-text {
  height: 100%;
  width: auto;
  margin-left: 1vw;
  font-size: 1vw; }

.footer-container__bottom-services {
  height: 100%;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: default;
  -ms-flex-align: default;
  align-items: default;
  -ms-flex-line-pack: default;
  align-content: default;
  font-size: 2.5vw;
  margin-right: 20px; }

@media (max-width: 1024px) {
  .team-leaders__content {
    min-height: 50.98vw;
    width: 88.23vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: default;
    flex-direction: default;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: default;
    -ms-flex-align: default;
    align-items: default;
    -ms-flex-line-pack: default;
    align-content: default;
    padding: 20px; }
  .team-leaders__content-title {
    width: 100%;
    font-size: 5vw; }
  .team-leaders__content-element {
    width: 43.4vw; }
  .team-leaders__content-text {
    width: 88.2vw;
    font-size: 1.9vw; }
  .content-name {
    font-size: 2vw; }
  .content-about {
    font-size: 1.3vw;
    width: auto; }
  .gallery-container__main-slider {
    height: 55vw;
    width: 100%;
    margin-bottom: 0; }
  .sl img {
    display: block;
    max-height: 70vw;
    max-width: 100%;
    background-size: cover; }
  .footer-container__top {
    min-height: 150px; }
  .footer-top {
    min-height: 150px;
    width: 27.45vw; }
  .footer-title {
    min-height: 50px;
    font-size: 1.8vw; }
  .footer-filling a {
    font-size: 1.2vw;
    margin-top: 5px; }
  .footer-top__contact {
    font-size: 1.5vw; }
  .footer-top__contact-phones {
    margin-top: 1.47vw; }
  .footer-top__contact-adress {
    margin-top: 10px; }
  .footer-top__contact-phones-numbers {
    font-size: 1.2vw;
    line-height: 1.5vw; }
  .footer-top__contact-adress_text {
    font-size: 1.2vw;
    line-height: 1.5vw; }
  .footer-container__bottom-text {
    font-size: 1.5vw; }
  .footer-container__bottom-services {
    width: 300px;
    font-size: 4vw; } }

@media (max-width: 1024px) and (max-width: 768px) {
  html {
    font-size: 1.30vw; }
  .title-selection {
    min-height: 730px;
    width: 100%; }
  .title-selection__header {
    min-height: 50px; }
  .title-selection__header-content {
    margin-left: 0;
    width: 100%;
    text-align: center;
    font-size: 4.6rem; }
  .title-selection__bar {
    overflow: hidden; }
  .title-selection__bar label.toggle-menu {
    margin-left: 5.4vw; }
  .title-selection__bar-sevices {
    display: none; }
  .title-selection__bar label.toggle-menu {
    display: block;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 6.6vw; }
  input.toggle-menu:checked + label.toggle-menu {
    color: #000000; }
  input.toggle-menu:checked ~ .title-selection__bar-sevices {
    display: block;
    margin: 0; }
  .title-selection__bar-sevices {
    width: 100%; }
  .bar-buttons {
    padding-left: 0px;
    padding-right: 0;
    min-height: 80px;
    width: 100%; }
  a {
    text-decoration: inherit;
    outline: inherit;
    color: white;
    font-size: 5.6vw;
    width: inherit;
    min-height: inherit; }
  .title-selection__image {
    min-height: 650px;
    width: 100%;
    position: absolute;
    top: 51px;
    background-image: url("../images/mobile.jpg");
    background-size: cover; }
  .team-leaders {
    min-height: 234.3vw;
    width: 100%; }
  .title-selection__image-welcome_first {
    font-size: 5.6vw;
    text-align: center; }
  .title-selection__image-welcome_second {
    font-size: 3.6vw; }
  .team-leaders__content {
    min-height: 221.3vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: default;
    -ms-flex-align: default;
    align-items: default;
    -ms-flex-line-pack: default;
    align-content: default; }
  .team-leaders__content-title {
    min-height: 5.2vw;
    width: 100%;
    font-size: 4.5rem; }
  .team-leaders__content-element {
    margin-top: 1.3vw;
    margin-bottom: 2.6vw;
    width: 52vw; }
  .team-leaders__content-container_two {
    min-height: 26vw; }
  .team-leaders__content-text {
    min-height: 100%;
    width: 100%;
    font-size: 2rem; }
  .team-leaders__info-container {
    min-height: 195.3vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: default;
    -ms-flex-pack: default;
    justify-content: default;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: default;
    align-content: default; }
  .leaders-info {
    min-height: 6 2.5vw;
    width: 39vw;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .content-photo {
    min-height: 52vw;
    width: 100%;
    background-size: contain; }
  .content-name {
    margin-top: 0.6vw;
    min-height: 1.9vw;
    width: 100%;
    font-size: 2rem; }
  .content-about {
    min-height: 7.8vw;
    width: 100%;
    font-size: 1.5rem; }
  .footer-container__top {
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: default;
    align-content: default;
    border: 1px solid rgba(145, 143, 154, 0.62); }
  .footer-top {
    min-height: 100px;
    width: 100%;
    border-top: 1px solid rgba(145, 143, 154, 0.62);
    border-bottom: 1px solid rgba(145, 143, 154, 0.62); }
  .footer-title {
    min-height: 50px;
    font-size: 4.68vw; }
  .footer-filling a {
    font-size: 3.2vw;
    min-height: 20px; }
  .footer-top__contact-phones {
    font-size: 3.2vw;
    margin: 0;
    min-height: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-top__contact-phones-numbers {
    margin-left: 1.95vw;
    font-size: 3.2vw;
    line-height: normal;
    min-height: 100%;
    width: auto; }
  .footer-top__contact-adress {
    margin: 0;
    width: 100%;
    min-height: 50px;
    font-size: 3.2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: default;
    align-content: default; }
  .footer-top__contact-adress_text {
    font-size: 3.2vw; }
  .footer-container__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .footer-container__bottom-text {
    font-size: 3.2vw; }
  .footer-container__bottom-services {
    height: auto;
    width: 100%;
    font-size: 7.81vw; }
  .advatages-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: default;
    align-content: default; }
  .content-number {
    min-height: 100px;
    color: #995437;
    font-family: Helvetica;
    font-size: 15vw;
    font-weight: 400;
    line-height: default;
    letter-spacing: 1.5px;
    font-weight: 700; }
  .content-text {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 5vw;
    font-weight: 400;
    line-height: default;
    letter-spacing: 1px; }
  .contact-us__container-header {
    width: 100%; }
  .contact-us__container-title {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 7vw;
    font-weight: 400;
    line-height: default;
    letter-spacing: 1.2px; }
  .contact-us__container-main {
    min-height: 110vw; }
  .contact-us__container-text {
    color: #c0c0c0;
    font-family: Helvetica;
    font-size: 3vw;
    font-weight: 400;
    line-height: default;
    letter-spacing: 0.5px; }
  .contact-us__lines {
    width: 100%;
    height: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: default;
    align-content: default; }
  input[name="name"], [name="phone"], select {
    width: 100%;
    height: 15vw;
    font-size: 4vw; }
  select {
    width: 81vw; }
  .contact-us__container-main_three {
    min-height: 45vw; }
  input[name="email"], textarea {
    font-size: 5vw;
    min-height: 20vw; }
  textarea[name="message"] {
    min-height: 20vw; }
  input[name="contactUs"] {
    margin-top: 20px;
    width: 30vw;
    height: 10vw; }
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 250vw; }
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: default;
    -ms-flex-align: default;
    align-items: default;
    -ms-flex-line-pack: default;
    align-content: default; }
  .about-us__sections {
    width: 100%;
    min-height: 50vw; }
  .about-us__img {
    background: url("../images/steve.jpg");
    background-size: cover;
    background-position: center; }
  .about-us__template-conteiner {
    min-height: 100vw;
    width: 100%; }
  .about-us__template-conteiner_title {
    min-height: 10vw;
    width: 100%;
    color: #000000;
    font-family: Helvetica;
    font-size: 10vw;
    font-weight: 400;
    line-height: default;
    letter-spacing: 2.4px; }
  .about-us__template-conteiner_text {
    width: 100%;
    min-height: 10vw;
    color: #3d3d3d;
    font-family: Helvetica;
    font-size: 3vw;
    font-weight: 400;
    line-height: default;
    letter-spacing: 0.5px; }
  .about-us__template-conteiner__pluses-container {
    min-height: 160vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: default;
    align-content: default; }
  .about-us__pluses {
    width: 80vw; }
  .pluses-img {
    width: 30vw;
    height: 30vw; }
  .pluses-element {
    min-height: 8vw; }
  .pluses-text {
    width: 70vw;
    min-height: 8vw;
    color: #000000;
    font-family: Helvetica;
    font-size: 4vw;
    font-weight: 400;
    line-height: default;
    letter-spacing: 0.5px; }
  .gallery {
    min-height: 110vw; }
  .gallery-container__header {
    width: 100%;
    min-height: 40vw; }
  .gallery-conteiner__header-title {
    min-height: 10vw;
    color: #a95e39;
    font-family: Helvetica;
    font-size: 8vw;
    font-weight: 400;
    line-height: default;
    letter-spacing: 1.8px; }
  .gallery-conteiner__header-text {
    min-height: 30vw;
    color: #000000;
    font-family: Helvetica;
    font-size: 4vw;
    font-weight: 400;
    line-height: 25.46px;
    letter-spacing: 1.8px; }
  .gallery-container__main {
    width: 100%;
    height: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: default;
    align-content: default; }
  .gallery-container__main-slider {
    height: 70vw;
    width: 100%;
    margin-bottom: 0; }
  .sl img {
    display: block;
    max-height: 70vw;
    max-width: 100%;
    background-size: cover; } }
