$font-size__title-selection__margin-left: 3.2vw;
$width__title-selection_one: 26.8vw;
$width__leaders-info: 15.6vw;
$color-black: #000000;
$font-size__footer: 2.5vw;
$font-size_two: 1.5vw;
$color-footer_border: rgba(145, 143, 154, 0.62);
$font-size_three: 0.83vw;
$min-height__media: 50px;
